<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>783813014894-ruq6kak9oqfap6ng3tcu7eapqs73mpvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783813014894-ruq6kak9oqfap6ng3tcu7eapqs73mpvn</string>
	<key>API_KEY</key>
	<string>AIzaSyCjeu-u62xAL1J3DMMJewTTQvsC-h-ZGqM</string>
	<key>GCM_SENDER_ID</key>
	<string>783813014894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Totoro.CS506</string>
	<key>PROJECT_ID</key>
	<string>cs506-d6cd5</string>
	<key>STORAGE_BUCKET</key>
	<string>cs506-d6cd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783813014894:ios:7f90aff51fbea7f8</string>
	<key>DATABASE_URL</key>
	<string>https://cs506-d6cd5.firebaseio.com</string>
</dict>
</plist>